Ejercicio 01.json
[
    {
        "id": "5c840299ad517564",
        "type": "tab",
        "label": "Ejercicio 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7534e52760eb568",
        "type": "mqtt in",
        "z": "5c840299ad517564",
        "name": "iot/temp",
        "topic": "iot/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2485a6a2dc589daf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "51ea32e619e1a351",
                "090107bedd874ac3",
                "d50c2c8fcb97bb6e"
            ]
        ]
    },
    {
        "id": "51ea32e619e1a351",
        "type": "function",
        "z": "5c840299ad517564",
        "name": "insertar",
        "func": "node.warn(isNaN(msg.payload));\n\nif (msg.topic === \"iot/temp\" && !isNaN(msg.payload)) {\n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura, descripcion)\"\n    + \"VALUES(\" + msg.payload + \", 'Insercion desde MQTT')\";\n}else{\n    msg.topic = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "0c2478d601c8d7fc"
            ]
        ]
    },
    {
        "id": "0c2478d601c8d7fc",
        "type": "mysql",
        "z": "5c840299ad517564",
        "mydb": "f11f84bca8c59746",
        "name": "Base de datos",
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "090107bedd874ac3",
        "type": "ui_gauge",
        "z": "5c840299ad517564",
        "name": "Temperatura",
        "group": "678c1733ec6d179d",
        "order": 4,
        "width": "3",
        "height": "1",
        "gtype": "gage",
        "title": "Cálculo de temperatura",
        "label": "C",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00f1f5",
            "#00e604",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "d50c2c8fcb97bb6e",
        "type": "ui_chart",
        "z": "5c840299ad517564",
        "name": "Histórico",
        "group": "a63b542195d214cc",
        "order": 0,
        "width": "11",
        "height": "8",
        "label": "Histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#6ac7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d06a7d3e02067d7c",
        "type": "mqtt in",
        "z": "5c840299ad517564",
        "name": "iot/humedad",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2485a6a2dc589daf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "4cb3da0920966bde",
                "d50c2c8fcb97bb6e"
            ]
        ]
    },
    {
        "id": "4cb3da0920966bde",
        "type": "ui_gauge",
        "z": "5c840299ad517564",
        "name": "Humedad",
        "group": "678c1733ec6d179d",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": 10,
        "colors": [
            "#ffea00",
            "#00e60f",
            "#2125a1"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 500,
        "y": 340,
        "wires": []
    },
    {
        "id": "51084574b901075c",
        "type": "comment",
        "z": "5c840299ad517564",
        "name": "GDS0551",
        "info": "#Nombre alumno(Luis Armando Largo Ramirez)\n#Num.Control(1221100338)",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "2485a6a2dc589daf",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "Luis_LR",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "test",
        "birthQos": "2",
        "birthPayload": "Luis Armando Largo Ramirez",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f11f84bca8c59746",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "678c1733ec6d179d",
        "type": "ui_group",
        "name": "Información",
        "tab": "8d145879eb9cdcbf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a63b542195d214cc",
        "type": "ui_group",
        "name": "Histórico de Datos",
        "tab": "8d145879eb9cdcbf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d145879eb9cdcbf",
        "type": "ui_tab",
        "name": "Iot",
        "icon": "payment",
        "disabled": false,
        "hidden": false
    }
]